$color_dark_1: #15141a;
$color_dark_2: #262430;

$color_txt_1: #f58cff;
$color_txt_2: #fef0ff;

$cmd_btn_1: #f58cff;
$cmd_btn_2: #375fe2;
$cmd_btn_3: #f1eb8f;
$cmd_btn_4: #1bd453;
$cmd_btn_5: #cc4b42;
$cmd_btn_6: #ff8e43;
$cmd_btn_7: #545974;
$cmd_btn_8: #ffffff;

$btn_color_1: #cc4b42;
$btn_color_2: #375fe2;
$btn_color_3: #f1eb8f;

$shade_background_1: rgba(21, 20, 26, .7);